.layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: all .5s ease-in-out;
}
// #00ACC1
i {
  font-size: 4rem;
}
.img:hover .layer {
  opacity: 1;
  transition: all .5s ease-in-out;
}
