<div (click)="goDetails(tv.id,'tv')" class="card bg-transparent border border-0">
  <div class="position-relative img">
    <div class="layer d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-circle-play" style="color: #00acc1"></i>
    </div>
    <div class="">
      <img
        [src]="'//image.tmdb.org/t/p/w500/' + tv.poster_path"
        class="card-img-top"
        alt=""
      />
    <span class="position-absolute end-0 p-1 rounded-1 bg-warning text-white top-0">{{tv.vote_average.toFixed(1)}}</span>

    </div>
  </div>
  <div class="card-body px-0 text-white">
    <h6 class="m-0 text-nowrap overflow-hidden ">{{ tv.name.split("").splice(0, 25).join("") }}</h6>
    <div
      class="d-flex my-2 text-white-50 justify-content-between align-items-center"
    >
      <span>{{ tv.first_air_date.split("-").splice(0, 1).join("") }}</span>
      <span class="">150m</span>
      <span class="border px-1">tv</span>
    </div>
  </div>
</div>
