.carousel-item{
  // background-image: url(../../../assets/images/2.jpg);
  height: 80dvh;
  background-position:  center top;
  background-size: cover;
  // box-shadow: inset 1920px 1080px 10px rgba(0,0,0,0.5);

}

.layer{
  background-color: rgba(0, 0, 0, .8);
}
