<div class="container my-5">
  <div class="heading row align-items-center my-3">
    <div
      class="col-md-12 d-flex  align-items-center"
    >
      <h2 class="m-0 pb-1 me-2 text-white">Comming Soon</h2>
      <div>
        <!-- <button class="btn text-white me-2 btn-info">
          <span>
            <i class="fa-solid fa-circle-play"></i>
          </span>
          Movies
        </button>
        <button class="btn text-white btn-secondary">
          <span>
            <i class="fa-solid fa-bars"></i>          </span>
          TV Shows
        </button> -->
      </div>
    </div>
  </div>
  <div class="row gy-4 ">
    <div *ngFor="let movie of movies.slice(0,18)" class="col-lg-2 col-6">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>
